.space{
  margin-top: 100px;
  margin-bottom: 1px;
}

.first{
  text-align: center;
  color: green;
  text-indent: inherit;
}

.second{
  text-align: right;
  color: yellow;
}
.third{
  text-align: left;
  color: red;
  font-family: cursive;
}
